<app-nav></app-nav>
<div>Current User ID: {{ currentUserId }}</div>
<div class="chat-layout" style="display: flex; height: 65vh;">
  <app-chat-list
    [selectedUserId]="selectedUser?._id || null"
    (selectedUser)="onUserSelected($event)"
    style="width: 25%; border-right: 1px solid #ccc;"
  ></app-chat-list>

  <div style="flex: 1; padding: 16px;">
    <ng-container *ngIf="selectedUser; else noSelection">
      <h2>Chat History {{ selectedUser.username }}</h2>
          <!-- Chat form -->
      <form [formGroup]="chatForm" (ngSubmit)="sendMessage()" style="margin-top: 20px;">
        <input
          type="text"
          formControlName="message"
          placeholder="Type a message..."
          style="padding: 8px; width: 70%;"
          autocomplete="off"
        />
        <button type="submit" style="padding: 8px;">Send</button>
        <div *ngIf="chatForm.controls.message.touched && chatForm.controls.message.invalid" style="color: red;">
          Message is required
        </div>
      </form>
<div style=" height: 500px;overflow: scroll;">

      <!-- Chat message list -->
      <div *ngFor="let msg of filteredMessages.slice().reverse()" style="margin-bottom: 10px;">
        
        <b>{{ msg.senderId === currentUserId ? 'You' : selectedUser.username }}:</b>
        {{ msg.text }}
        <br />
        <small style="color: gray;">{{ formatMessageDate(msg.createdAt ?? '') }}</small>

      </div>

</div>
  
    </ng-container>

    <ng-template #noSelection>
      <p>Please select a user to see chat messages.</p>
    </ng-template>
  </div>
</div>